*.gz
*.pyc
AutoCarver.egg-info/PKG-INFO
AutoCarver.egg-info/dependency_links.txt
AutoCarver.egg-info/top_level.txt
AutoCarver.egg-info/SOURCES.txt
*.coverage
# *.json
# *.ipynb
*.ipynb_checkpoints
test_package.ipynb
*.exe