[tool.poetry]
name = "AutoCarver"
version = "7.0.8"
description = "Automatic Discretization of Features with Optimal Target Association"
authors = ["Mario DEFRANCE <defrancemario@gmail.com>"]
license = "MIT"
readme = "README.md"
classifiers=[
    # ou 4 - Beta ou 5 - Production/Stable
    # "Development Status :: 5 - Production/Stable",
    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: Unix",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
]
packages = [
    { include = "AutoCarver" }
]

[tool.poetry.dependencies]
python = ">=3.9, <3.13"
numpy = ">=1.24.2, <2.1"
scipy = "^1.11.4"
scikit-learn = "^1.3.2"
statsmodels = ">=0.13"
tqdm = "^4.66.1"
pandas = "^2.1.4"
ipython = { version = "^8.18.1", optional = true }
matplotlib = { version = "^3.8.2", optional = true }
black = { version = "^23.12.0", optional = true }
flake8 = { version = "^6.1.0", optional = true }
Flake8-pyproject = { version = "^1.2.3", optional = true }
pylint = { version = "^3.0.3", optional = true }
isort = { version = "^5.13.2", optional = true }
pytest-cov = { version = "^4.1.0", optional = true }
pytest = { version = "^7.4.3", optional = true }
sphinx = { version = "7.4.7", optional = true }
sphinx-rtd-theme = { version = "2.0.0", optional = true }
pypandoc = { version = "^1.12", optional = true }
nbsphinx = { version = "0.9.6", optional = true }
toml = { version = "^0.10.2", optional = true }
icecream = { version = "^2.1.3", optional = true }
ipykernel = { version = "^6.27.1", optional = true }
xgboost = { version = "^2.1.3", optional = true }
ipywidgets = { version = "^8.1.5", optional = true }
jinja2 = { version = "^3.1.5", optional = true }

[tool.poetry.extras]
jupyter = ["ipython", "matplotlib", "jinja2", "ipykernel"]
dev = ["ipykernel", "xgboost", "ipywidgets"]
tests = ["black", "flake8", "Flake8-pyproject", "pylint", "isort", "pytest-cov", "pytest", "icecream"]
docs = ["sphinx", "sphinx-rtd-theme", "pypandoc", "nbsphinx", "toml"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100

[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "E704"]


[tool.pylint.basic]
good-names = ["X", "y"]

[tool.pylint.messages_control]
disable = ["C0301", "C0103", "E0110", "W0621", "import-error"]

[tool.poetry.urls]
docs = "https://autocarver.readthedocs.io/en/latest/index.html"
repository = "https://github.com/mdefrance/AutoCarver"
