[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100

[tool.pylint.basic]
good-names = ["X", "y"]

[tool.pylint.messages_control]
disable = ["C0301", "C0103", "import-error"]
